body {
    margin: 0;
    font: normal normal normal 1em/27px Segoe UI;
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

}

nav {
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #BC0000 0%, #000C2E 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main {
    width: 80vw;
    height: 100%;
}

nav > img {
    width: 70%;
    margin: 1em auto;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li > i {
    font-size: 1.5em;
}

.nav-button {
    border: 1px solid white;
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.5px;
    color: white;
    padding: 0.2em;
    width: 60%;
}

ul {
    list-style-type: none;
    color: white;
    
    letter-spacing: 0px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 40px);
    position: relative;
}

li {
    text-align: center;
    margin-bottom: 1em;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fa, 
.fa-solid {
    width: 1em;
    text-align: left;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}

.add-review {
    background: transparent linear-gradient(180deg, #BC0000 0%, #000C2E 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    border-radius: 1.6em;
    color: white;
    letter-spacing: 0.1em;
    padding: 0.5em;
    width: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    line-height: 2em;

}

.search-bar {
    width: 70%;
}

.search-input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 1.5em;
    width: 100%;
    text-align: center;
    color: gray;
    margin: 0em;
    padding: 1em;
    box-sizing: border-box;
}

